/* Created by http://freehtml5templates.com */ /* reset */
* {
	margin: 0;
	padding: 0;
}

/* render html5 elements as block */
header,footer,section,aside,nav,article {
	display: block;
}



body {
	line-height: 1;
	background: #999;
	font-family:  Verdana, Arial, Helvetica,
		sans-serif;
	color: #666;
	font-size: 16px;
	line-height: 18px;
}

.iebody {
	line-height: 1;
	background: #999;
	font-family:  Verdana, Arial, Helvetica,
		sans-serif;
	color: #666;
	font-size: 16px;
	line-height: 21px;
}
/* layout */
#wrapper {
	width: 940px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

nav {
	width: 940px;
	height: 50px;
	margin: 0 auto;
	background: #333;
}

header {
	width: 940px;
	height: 200px;
	margin: 0 auto;
	background: #fff url(images/memoryfades.png) no-repeat left top;
}

#main {
	width: 940px;
	margin: 0 auto;
	padding-top: 30px;
	background: #E3E1E4 url(images/colbg.png) repeat-y;
	overflow: hidden;
}
#main2 {
	width: 940px;
	margin: 0 auto;
	padding-top: 30px;
	background: white;
	text-align:center;
	overflow: hidden;
	padding-bottom: 100px;
}
#content {
	float: left;
	width: 640px;
	margin-left: 30px;
}

#sidebar {
	float: right;
	padding-left: 20px;
	width: 220px;
}

footer {
	width: 940px;
	margin: 0 auto;
	clear: both;
}

/* basics */
@font-face {
	font-family: 'VeggieburgerRegular';
	src: url('VeggiMed-webfont.eot');
	src: local('VeggieburgerRegular'), url('VeggiMed-webfont.woff')
		format('woff'), url('VeggiMed-webfont.ttf') format('truetype'),
		url('VeggiMed-webfont.svg#webfontVUlj8LP0') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	clear: both;
	color: #333;
}

a:link,a:visited {
	color: #972a2a;
}

a:hover,a:active {
	color: #333;
}

p {
	margin-bottom: 18px;
}

li {
	padding-left: 5px;
}

/* nav */
nav .menu {
	font-size: 18px;
	font-weight: bold;
}

nav .menu ul {
	margin: 0;
	padding: 17px 0 0 20px;
	list-style: none;
	line-height: normal;
}

nav .menu li {
	display: block;
	float: left;
}

nav .menu a {
	display: block;
	float: left;
	margin-right: 5px;
	padding: 0px 15px;
	text-decoration: none;
	color: #ddd;
}

nav .menu a:hover {
	text-decoration: underline;
}

/** HEADER */
header h1,header h2 {
	margin: 0;
	padding: 0 0 0 30px;
	line-height: normal;
}

header h1 {
	float: left;
	padding-top: 20px;
}

header h1 a:link,header h1 a:visited {
	text-decoration: none;
	color: #555;
	font-size: 60px;
}

header h1 a:hover {
	text-decoration: underline;
}

header h2 {
	padding: 20px 0 0 30px;
	font-style: italic;
	font-size: 18px;
	color: #555;
}

/** ARTICLES **/
article img {
	border: none;
	-webkit-box-shadow: 3px 3px 7px #777;
	-moz-box-shadow: 3px 3px 7px #777;
}

#content p,ul,ol,hr {
	margin-bottom: 24px;
}

#content ul ul,ol ol,ul ol,ol ul {
	margin-bottom: 0;
}

#content h1,h2,h3,h4,h5,h6 {
	color: #333;
	margin: 0 0 20px 0;
	line-height: 1.5em;
}

.alignleft,img.alignleft {
	display: inline;
	float: left;
	margin-right: 10px;
}

.alignright,img.alignright {
	display: inline;
	float: right;
	margin-left: 10px;
}

.aligncenter,img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* sidebar and footer widget blocks */
aside h3 {
	font-size: 22px;
}

aside ul {
	list-style: none;
	margin-bottom: 20px;
	margin-top: -15px;
}

#footer-area {
	background: #333;
	color: #FFF;
	font-size: 90%;
	padding: 18px 0;
	overflow: hidden;
}



footer  h4 {
	color: #FFF;
	font-size: 18px;
	line-height: 1.5em;
}

footer a:link,footer a:visited {
	color: #E3E1E4;
}

footer p {
	margin-top: -15px;
}

.wrap div {
	float: left;
}

.wrap .label {
	width: 95px;
}

.text_field {
	width: 120px;
}


table { background:#D3E4E5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
 width:620px;
}
caption { border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 letter-spacing:20px;
 padding:6px 4px 8px 0px;
 text-align:center;
 text-transform:uppercase;
}
td, th { color:#363636;
 padding:.4em;
}
tr { border:1px dotted gray;
}
thead th, tfoot th { background:#5C443A;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:left;
 text-transform:uppercase;
}
tbody td a { color:#363636;
 text-decoration:none;
}
tbody td a:visited { color:gray;
 text-decoration:blink;
}
tbody td a:hover { text-decoration:underline;
}
tbody th a { color:#363636;
 font-weight:normal;
 text-decoration:none;
}
tbody th a:hover { color:#363636;
}
tbody td+td+td+td a { background-image:url('http://www.admixweb.com/downloads/csstablegallery/bullet_blue.png');
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
}
tbody td+td+td+td a:visited { background-image:url('http://www.admixweb.com/downloads/csstablegallery/bullet_white.png');
 background-position:left center;
 background-repeat:no-repeat;
}
tbody th, tbody td { text-align:left;
 vertical-align:top;
}
tfoot td { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { background:#fff;
}
tbody tr:hover { background:#99BCBF;
 border:1px solid #03476F;
 color:#000000;
}

